*{
	margin:
	padding:
}
body{
	
	margin:0 auto;
	
	padding-left:5px;
	background-color:white;

}
.box{
	width:1300px;
	height:76px;
	background-color:white;
}
#logo{
	float:left;
	padding-top:14px;
	padding-left:5px;
	width:240px; 
	height:70px;

	
}
#form{
	padding-top:25px;
	float: left;
	padding-left:2px;
}
#inputtext{
	width:500px; 
	height:30px;
	background-color:weiht;




}
#btn{
	width:90px;
	height:31px;
	background-color:weight;
    border:none;
    cursor:pointer;


}
.result{
	margin: 0 auto;
	width: 1320px;
	height:10px;
	
	
}
.result.box{
	padding-top: 0px;

}
